.nav-item {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
}

.nav-item:hover {
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
    --tw-bg-opacity: 0.2;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    backdrop-filter: blur(10px);
}

.products {
    padding: 0 1rem;
}
@media screen and (max-width: 768px) {
    .nav-item {
        padding: 0.5rem 0.5rem;
        margin: .5rem 0.25rem;
        background-color: rgba(255, 255, 255, 0.094);
    }

    .search-box {
        margin-top: 1rem;
    }

    .search-box input {
        width: 100%;
    }
}   