
.about-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}
.about-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 7rem;
    height: 2px;
    background: #576880c9;
    margin-top: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
}

.about-title:hover {
    letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
    .refcard {
        width: 33.333%;
        height: 12rem !important;
    }
}
